$gray: #f8f8f8;
$primary: rgb(42, 128, 25);
$primary-opacity: rgba(42, 128, 25, 0.5);
$dark: rgba(33, 34, 43, 1);
$light-opacity: rgba(181, 184, 209, 0.2);
$darker: rgba(24, 24, 33, 1);

$border-radius: .25rem;

$box-shadow-sm: 0 .125rem .25rem rgba(#000, .075);