$gray: #efefef;
$primary: rgba(214, 54, 145, 1);
$dark: rgba(33, 34, 43, 1);
$light-opacity: rgba(181, 184, 209, 0.2);
$darker: rgba(24, 24, 33, 1);

$border-radius: .25rem;

$box-shadow-sm: 0 .125rem .25rem rgba(#000, .075);